html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
}

h1 {
	text-align: center;
}

.container {
  display: flex;
  align-items: center;
	justify-content: center;
	height: 300px;
	flex-direction: column;
}

.container-item {
  max-width: 50%;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltip-image {
	visibility: hidden;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	margin-bottom: 15px;
}

.tooltip-image-visible {
	visibility: visible !important;
}
